.pomodoro-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px #0000001a;
  background-color: #f0dcf2a4;
  border: 2px solid #d6b2d4;
}

.pomodoro-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.pomodoro-title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #650276;
}

.pomodoro-timer {
  font-size: 4rem;
  font-family: 'Courier New', monospace;
  text-align: center;
  margin-bottom: 15px;
}

.pomodoro-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.pomodoro-selects {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.pomodoro-selects select {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.pomodoro-controls button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.pomodoro-start {
  background-color: #b898e0fc;
}

.pomodoro-pause {
  background-color: #f5c175;
}

.pomodoro-reset {
  background-color: #e15f56;
}

.todo-pomodoro-button {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s;
}

.todo-pomodoro-button:hover {
  transform: scale(1.5);
  filter: drop-shadow (0 0 2px #ff4d4d);
}


.pomodoro-close {
  background: transparent;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  color: #650276;
  transition: transform 0.2s, color 0.2s;
}

.pomodoro-close:hover {
  transform: scale(1.2);
  color: #a300b3;
}

.pomodoro-header h3 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #650276;
}